.button{
    text-decoration: none;
    border: medium none;
    outline: currentcolor none medium;
    cursor: pointer;
    color: rgb(66, 90, 112);
    background-color: white;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(244, 245, 247));
    box-shadow: rgba(67, 90, 111, 0.14) 0px 0px 0px 1px inset, rgba(67, 90, 111, 0.06) 0px -1px 1px 0px inset;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 4px;
    max-height: 42px;
    height: 100%;
    transition: box-shadow .3s;
    user-select: none;
    font-weight: 500;
    &:hover {
        box-shadow: rgba(67, 90, 111, 0.14) 0px 0px 0px 1px inset, rgba(67, 90, 111, 0.06) 0px -1px 1px 0px inset, #00000008 0px 0px 0px 3px;
    }
}

.button.button-danger{
    color: white;
    background-color: var(--color-danger-alpha-2);
    background-image: linear-gradient(#F6005C, #b30442);
    &:hover{
        box-shadow: rgba(67, 90, 111, 0.14) 0px 0px 0px 1px inset, rgba(67, 90, 111, 0.06) 0px -1px 1px 0px inset, #F6005C18 0px 0px 0px 3px;
    }
}

.link,
.button a{
    font-family: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    color: inherit;
}
