.message{
    background: var(--color-gray-35);
    color: var(--color-text-light);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 15px;
    padding: 1.2em 1.35em;
    border-radius: 5px;
}

.message ul li{
    list-style-type: disc;
    margin-left: 17px;
    padding-left: 10px;
}