.numbered.hljs{
    counter-reset: line;
}

.numbered.hljs .line::before{
    counter-increment: line;
    content: counter(line) '.';
    width: 22px;
    display: inline-block;
}

.can_copy{
    position: relative;
}

.can_copy .copy_button{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.5);
    padding: 4px 6px;
    z-index: 10;
    font-family: "Consolas", monospace, sans-serif;
    font-size: 11px;
    display: none;
}

.can_copy:hover .copy_button{
    display: block;
}