.category__main{
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--color-light);
    text-transform: uppercase;
}

.category__level-1{
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
    color: var(--color-text-pastel);
}
li[class^="category__level-"]:not(.category__level-1) a{
    padding-left: 15px;
}


li[class^="category__"] a{
    text-decoration: none;
    line-height: 21.6833px;
    color: var(--color-text-pastel);
}

.category__level-2{
    font-size: 13px;
    border-left: 1px solid var(--color-gray-150);
    color: var(--color-text-pastel);
}

li[class^="category__"].active a{
    font-weight: bold;
    color: var(--color-primary);
}

.category__group{
    margin-bottom: 13px;
}

.category__group-main{
    margin-bottom: 20px;
}

.navigation__course .navigation__course-links{
    position: sticky;
    height: max-content;
    top:40px
}